<div 
  class="container" 
  [ngClass]="{'bg-nolove': !love, 'bg-love' : love}"
>
  <div class="images" *ngIf="!love">
    <img src="../assets/images/download20210801173918.png" alt="">
    <img src="../assets/images/download20210803144651.png" alt="">
    
  </div>
  <h1>{{label}}</h1>
  <img *ngIf="love" src="../assets/images/me-gusta.png" alt="">
  <div class="btn-container" *ngIf="!love">
    <button (click)="wiii()">Si</button>
    <button 
    #btn
    (mouseenter)="move()" (click)="jum()">No</button>
  </div>
</div>