<div 
  class="container" 
  [ngClass]="{'bg-nolove': !love, 'bg-love' : love}"
>
  <div class="images" *ngIf="!love">
    <img src="https://res.cloudinary.com/de9ty2vgh/image/upload/v1666833006/download20210801173918_p2yg5a.png" alt="">
    <img src="https://res.cloudinary.com/de9ty2vgh/image/upload/v1666833023/download20210803144651_rfwsmc.png" alt="">
    
  </div>
  <h1>{{label}}</h1>
  <img *ngIf="love" src="https://res.cloudinary.com/de9ty2vgh/image/upload/v1666833032/me-gusta_crng1n.png" alt="">
  <div class="btn-container" *ngIf="!love">
    <button (click)="wiii()">Si</button>
    <button 
    #btn
    (mouseenter)="move()" (click)="jum()">No</button>
  </div>
</div>